.skill-slider-item {
    background: black;
    height: auto;
}

.skill-slider-img {
    opacity: 0.4;
    width: 100%;
    height: auto;

}


.skill-slider-caption {
    margin: 100px 0;
}

.skill-course-width{
    width: 450px;
}

.skill-explore-color{
    background-color: #F4FAFD;
}

/* For tablet view  */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .skill-slider-caption {
        margin-bottom: 0;
        margin-top: 300px;
    }
}

/* Mobile view  */

@media only screen and (min-device-width: 393px) and (max-device-width: 767px) {
    .skill-slider-caption {
        margin-bottom: 0;
        margin-top: 1000px;
        padding: 0;
    }

    .skill-slider-img {
        opacity: 0.4;
        width: 100%;
        height: 300px;
        object-fit: cover;

    }
    .skill-course-width{
        width: 300px;

    }

    .skill-course-card{
        display: flex;
        flex-direction: column;
    }
    
}